
body {
	font-family: "Open Sans", sans-serif;
}

h2 {
  text-align: center;
	margin: 30px 0 60px;
}

/* ====banner=== */

#baner{
  background: #212121;
  background-image: url(/images/bg-icons.png);
}

.animation {
  font-weight: 100;
  font-size: 55px;
  color: #fafafa;
}

.baner-text{
  color: #8a8a8a;
}

/* ===What I do=== */

#brk1, #brk2, #brk3 {
  height: 200px;
  width: 200px;
}

#brk2 {
  width: 140px;
}

/* === mustage animation=== */

#desnibrk {
  animation: must 10s ease-in-out infinite;
  transform-origin: 10px 10px;
  transform-box: fill-box;
}
#levibrk {
  animation: must2 10s ease-in-out infinite;
  transform-origin: 190px 10px;
  transform-box: fill-box; 
}

#desni2 {
  animation: must5 10s ease-in-out infinite;
  transform-origin: 80px 0px;
  
}
#levi2 {
  animation: must6 10s ease-in-out infinite;
  transform-origin: -38px 0px;
}

#desni3 {
  animation: must3 10s ease-in-out infinite;
  transform-origin: 10px 0px;
  transform-box: fill-box; 
}

#levi3 {
  animation: must4 10s ease-in-out infinite;
  transform-origin: 35px 0px;
  transform-box: fill-box;  
}

/* === 1. brk === */

@keyframes must {
  0% {
    transform: translatey(0) rotatez(0deg);
  }
  25% {
    transform: translatey(20px) rotatez(15deg);
  }
  50% {
    transform: translatey(0px) rotatez(0deg);
  }
  75% {
    transform: translatey(0px) rotatez(0deg);
  }
  100% {
    transform: translatey(0px) rotatez(0deg);
  }
}
@keyframes must2 {
  0% {
    transform: translatey(0) rotatez(0deg);
  }
  25% {
    transform: translatey(20px) rotatez(-15deg);
  }
  50% {
    transform: translatey(0px) rotatez(0deg);
  }
  75% {
    transform: translatey(0px) rotatez(0deg);
  }
  100% {
    transform: translatey(0px) rotatez(0deg);
  }
}

/* === 2. brk === */

@keyframes must5 {
  0% {
    transform: translatey(0) rotatez(0deg);
  }
  25% {
    transform: translatey(0px) rotatez(0deg);
  }
  50% {
    transform: translatey(20px) rotatez(15deg);
  }
  75% {
    transform: translatey(0px) rotatez(0deg);
  }
  100% {
    transform: translatey(0px) rotatez(0deg);
  }
}
@keyframes must6 {
  0% {
    transform: translatey(0) rotatez(0deg);
  }
  25% {
    transform: translatey(0px) rotatez(0deg);
  }
  50% {
    transform: translatey(20px) rotatez(-15deg);
  }
  75% {
    transform: translatey(0px) rotatez(0deg);
  }
  100% {
    transform: translatey(0px) rotatez(0deg);
  }
}

/* === 3. brk === */

@keyframes must3 {
  0% {
    transform: translatey(0) rotatez(0deg);
  }
  25% {
    transform: translatey(0px) rotatez(0deg);
  }
  50% {
    transform: translatey(0px) rotatez(0deg);
  }
  75% {
    transform: translatey(10px) rotatez(15deg);
  }
  100% {
    transform: translatey(0px) rotatez(0deg);
  }
  
}

@keyframes must4 {
  0% {
    transform: translatey(0) rotatez(0deg);
  }
  25% {
    transform: translatey(0px) rotatez(0deg);
  }
  50% {
    transform: translatey(0px) rotatez(0deg);
  }
  75% {
    transform: translatey(10px) rotatez(-15deg);
  }
  100% {
    transform: translatey(0px) rotatez(0deg);
  }
}

/* ===Latest work === */

#latest p {
  text-align: justify;
  color: #ddd;
}
#latest h3 {
  color: #ddd;
}
#contact {
  background-color: rgb(243, 243, 243);
}
#work {
  background-color: #212121;
}

/* === testimonials === */

.col-center {
  margin: 0 auto;
	float: none !important;
}
.carousel {
  margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
  color: #999;
	font-size: 14px;
  text-align: center;
	overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {	
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
	color: rgb(48, 48, 48);
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 38px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px;
}
.carousel-indicators li {	
  background: #999;
	border-color: transparent;
}
.carousel-indicators li.active {	
  background: #555;		
}

/* ====gallery=== */
img {
  max-width: 100%;
}

#gallery {
  background-color: rgb(248, 248, 248);
}

#gallery img {
  transition: 1s;
}

img:hover {
  transform: scale(1.1);
}
/* =============images portfolio page ============ */
.images img {
  max-width: 100%;
  transition: 1s;
}

/* =============== Contact ============== */


.jumbotron {
  color: rgb(255, 255, 255);
  background-image: url(/images/G0016626.jpg);
  height: 300px;
  background-position: center;
}

footer {
  background-color: #212121;
  color: white;
}
footer i {
  color: white;
}
footer img {
  width: 28px;
}